@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');
@import "./null-styles.scss";
@import "./header.scss";
@import "./aside.scss";
@import "./main.scss";

body {
    font-family: 'Poppins', sans-serif;
}

.wrap {
    display: grid;
    grid-template: 1fr 9fr / 1fr;

    height: 100vh;
}

%card {
    padding: 30px;
    box-shadow: 2px 2px 10px #00000057;
    border-radius: 24px;
}