.main {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    
    background-color: #f7f7f7;
    padding: 50px;
}

.notes-wrap {
    display: grid;
    grid-template: minmax(50px, auto) 1fr / minmax(80px, 150px) minmax(200px, 1fr) minmax(80px, 100px);
    
    @extend %card;

    .add-note {
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 20px;
        background-color: #97f697;
        font-size: 16px;

        svg { margin: 0 10px 0 0; }
    }

    input {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        margin: 0 0 0 30px;
        font-size: 20px;
        padding: 0 20px;
    }

    .search {
        background-color: #97f697;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.notes {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    
    margin: 40px 0;
}

.notes__item {
    display: grid;
    grid-template: 50px minmax(0px, auto) / auto 1fr 1fr 1fr 1fr;
    justify-items: start;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;

    input {
        margin: 0 20px;
    }

    .notes__title {
        font-size: 20px;
        font-weight: 600;
    }

    img {
        width: 30px;
    }

    .notes__arrow-button {
        justify-self: end;
        margin: 0 20px;
    }

    .notes__description {
        grid-column: 1 / -1;

        padding: 20px;
        overflow: hidden;
    }

    &:hover {
        background-color: #dfdfdf;
    }
}